# Converting Data Types

In [1]:
num_int = 7

type(num_int)

int

In [2]:
num_str = '7'

type(num_str)

str

In [3]:
num_sum = num_int + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
num_str_conv = int(num_str)

type(num_str_conv)

int

In [6]:
num_sum = num_int + num_str_conv

print(num_sum)

14

In [7]:
type(num_sum)

int

In [8]:
##Converting Lists, Tuples & Sets

list_type = [1,2,3,4,]

type(list_type)

list

In [12]:
list_conv_to_tuple = tuple(list_type)

print(list_conv_to_tuple)

(1, 2, 3, 4)

In [13]:
type(list_conv_to_tuple)

tuple

In [16]:
list_type = [1,2,3,4,5,2,3,6,8,7,8,4,1,6,1]

list_conv_to_set = set(list_type)

print(list_conv_to_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
type(list_conv_to_set)

set

In [20]:
dict_type = {'name':'Denvar', 'Age':30, 'Hair':'Black'}

type(dict_type)

dict

In [21]:
dict_type.items()

dict_items([('name', 'Denvar'), ('Age', 30), ('Hair', 'Black')])

In [23]:
dict_type.keys()

dict_keys(['name', 'Age', 'Hair'])

In [24]:
dict_type.values()

dict_values(['Denvar', 30, 'Black'])

In [25]:
list(dict_type.keys())

['name', 'Age', 'Hair']

In [26]:
long_str = 'I love To Party'

list(long_str)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'T', 'o', ' ', 'P', 'a', 'r', 't', 'y']